:root {
    --base: #97DFFC;
    --accent: #613DC1;
    --dark-grey: #343a40;
    --light-grey: #e8e8e8;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.wrapper {
    max-width: 1200px; /* Set the maximum width of the div */
    margin: 0 auto; /* Center the div */
}

.accent {
    color: var(--accent);
}

.base {
    color: var(--base);
}

.light-grey {
    color: var(--light-grey);
}

.dark-grey {
    color: var(--dark-grey);
}

a {
    color: var(--dark-grey);
}

a:hover {
    text-decoration: none;
    color: var(--accent);
}

/* NAVBAR */

#purple-logo {
    height: 30px;
}
.navbar {
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px #d0d0d0;
    color: var(--dark-grey);
    font-size: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
}

.active {
    background: var(--base);
    border-radius: 10px;
    
}

.logo {
    font-family: 'Pacifico', sans-serif;
    color: var(--accent);
    font-size: 25px;
}

.nav-item {
    padding: 10px 25px;
}

/* HOME PAGE */

#home-wrapper {
    background-image: url('images/splatter-bg.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 10px;
    padding: 40px;
}

#main-title {
    font-size: 30px;
}

#stains-list-wrapper {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#stains-list {
    line-height: 2;
    font-weight: bold;
    color: var(--accent);
}

#stains-list span {
    color: var(--dark-grey);
}


.main-wrapper {
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 13px 2px #d0d0d0;
}

#welcome-div{
    font-size: 30px;
    padding-top:  10px;
    padding-bottom:  10px;
    margin-bottom: 40px;
}



.button {
    background: var(--base);
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--dark-grey);
    z-index: 1;
}


/* LEARN PAGES */

.learn-block {
    margin-top: -55px;
    height: 475px;
    position: relative;
}

.removal {
    font-size: 25px;
    font-weight: 600;
}

.removal-step {
    height: 80px;
    margin-bottom: 5px;
}

.removal-step img {
    max-height: 80px;
    width: auto;
}

ol.removal-list li::marker {
    color: var(--accent);
}

.removal-list{
    list-style-type: decimal; 
    padding-left: 20px;
}

.extra-content-block {
    position: absolute;
    bottom: -60px;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    z-index: 1;
}

.extra-content {
    text-align: center;
}


#nav-buttons{
    z-index: 2;
}


/* QUIZ WELCOME PAGE */

.quiz-welcome-block{
    height: 500px;
}

.quiz-welcome-text{
    margin-top: 80px;
    font-size: 24px;
}

.quiz-button-div{
    padding-bottom: 10px;
    margin-bottom: 40px;
}

/* QUIZ */

.quiz-block {
    margin-top: -60px;
    height: 475px;
    position: relative;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.question-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-image {
    max-width: 325px;
    max-height: 250px;
    margin-top: -5px;
}

/* ORDER STEPS QUIZ */
.sortable-list {
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortable-item {
    display: inline-block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
}

.step-number {
    display: inline-block;
    font-weight: bold;
    position: absolute;
}


.step-box {
    width: 300px;
    text-align: left;
    border: 1px solid var(--dark-grey);
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.step-box span {
    display: block;
    text-align: left;
}


/* IMAGE SELECT QUIZ */

.image-option .form-check-input {
    display: none; /* Hide the radio button */
}

.image-option .form-check-input:checked + .form-check-label img {
    border: 2px solid var(--accent); /* Add a border to the selected image */
}

.form-check-label {
    cursor: pointer;
}

.select-image {
    display: inline-flex;
    height: 130px;
}

.form-check {
    text-align: left;
    margin-bottom: 5px;
}

.quiz-answer-choices-block  {
    margin-top: 15px;
}

#retake-button{
    margin-right: 20px;
}

#home-button{
    margin-left: 20px;
}

.quiz-result-buttons{
    justify-content: center;
}

.error-message{
    color: red;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.image-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  /* Space between tiles */
    justify-content: center;
}

.tile {
    width: 90px;  /* Width of each tile */
    height: 90px;
    cursor: pointer;  /* Indicates interactivity */
    text-align: center;  /* Centers the text and image within the tile */
    border-radius: 5px;  /* Rounded corners for aesthetics */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);  /* Shadow for 3D effect */
    background-color: #fff;  /* Background color */
    transition: transform 0.2s;  /* Smooth transformation on hover */
}

.tile:hover {
    transform: scale(1.05);  /* Slightly enlarge tiles on hover */
}

.tile img {
    width: 100%;  /* Make the image fill the width of the tile */
    height: 60px;  /* Fixed height for images */
    border-top-left-radius: 5px;  /* Rounded top corners */
    border-top-right-radius: 5px;  /* Rounded top corners */
    object-fit: cover;  /* Ensures images cover the area well */
}

.image-description {
    overflow: hidden;  /* Prevents text overflow */
    text-overflow: ellipsis;  /* Adds ellipsis to truncated text */
    white-space: nowrap;  /* Keeps text in a single line */
    font-size: 0.8rem;  /* Font size for descriptions */
    padding: 5px;  /* Padding around text */
}

.dropped-tile {
    position: absolute;
    cursor: default; /* Prevent cursor change on hover */
}

.quiz-image-block {
    position: relative; /* Ensure the dropped tiles are positioned relative to this container */
}