#welcome-div{
    font-size: 30px;
    padding-top:  10px;
    padding-bottom:  10px;
    margin-bottom: 40px;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
    color: #0066cc;
}

.nav-item.active a {
    font-weight: bold;
}

.nav-item {
    margin-left: 10px;
}


.form-check {
    text-align: left;
    margin-bottom: 10px; /* Adjust spacing between options if needed */
}