<div class="d-flex justify-content-center">
    <div class="image-container">
        {% for item in quiz_item["items"] %}
            {% for url, description in item.items() %}
                <!-- Set the entire tile as draggable -->
                <div class="tile" id="{{url}}" draggable="true" ondragstart="drag(event)">
                    <img src="{{ url }}" class="draggable-image" alt="{{ description }}">
                    <div class="image-description">{{description}}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<button id="resetButton" class="btn btn-primary">Reset</button>
<p class="error-message"></p>
