<div class="d-flex justify-content-center">
    <div class="image-container">
        {% for item in quiz_item["items"] %}
            <!-- Directly access elements of each item by index -->
            <div class="tile" id="{{item[2]}}" draggable="true" ondragstart="drag(event)">
                <img src="{{ item[0] }}" class="draggable-image" alt="{{ item[1] }}">
                <div class="image-description">{{item[1]}}</div>
            </div>
        {% endfor %}
    </div>
</div>
<button id="resetButton" class="btn btn-primary">Reset</button>
<p class="error-message"></p>
