{% extends "layout.html" %}

{% block content %}
<script>
    var jsonData = {{ data| tojson }};
</script>
<script src="{{ url_for('static', filename='home.js') }}"></script>

<div id="home-wrapper">
    <div class="row">
        <div class="col-7">
            <p class="logo mb-4" id="main-title">
                StainSavvy
            </p>
            <p class="h2 mb-3">
                Identify and remove stains
            </p>
            No more ruined clothes due to mishaps!

        </div>
        <div class="col-5" id="stains-list-wrapper">
            Stains you will learn about:<BR><BR>
            <ul>
                {% for key, stain in data["learn"].items() %}
                <li id="stains-list"><span>{{ stain["stain"] }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="text-right">
        <a href="/learn/1" role="button" class="button">Start Learning</a>
    </div>
</div>

{% endblock %}