{% extends "layout.html" %}

{% block content %}
<script src="{{url_for('static', filename='learn.js')}}"></script>

<script>
    var itemData = {{ learn_item| tojson }};
    console.log(itemData);
    var numItems = {{ num }};
</script>

<div id="item-info">
    <div class="p-4">
        <p class="h2">{{learn_item["stain"]}} Stains</p>
    </div>
    <div class="learn-block row">
        <div class="col-5 p-5">
            <p>
                {{learn_item["content"]["identify"]}}
            </p>
            <img src='{{learn_item["image"]}}' class='img-fluid' width="300" alt='{{learn_item["stain"]}} Stain Image'>
        </div>
        <div class="col-7 p-5">
            <div id="removal-wrapper">
                <p class="removal">Removal:<p>
                <ol class="removal-list">
                    {% for index, step in learn_item["content"]["removal"].items() %}
                    <li>
                        <div class="row removal-step">
                            <div class="col-7">
                                {{ step["step"] }}
                            </div>
                            <div class="col-5">
                                <img src='{{ step["removal-image"] }}' class='img-fluid' alt='{{ learn_item["stain"] }} Stain Removal Image'>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                 </ol>

            </div>
        </div>
        <div class="extra-content-block">
            {% if "extra" in learn_item["content"] %}
                <p class="extra-content"><em>{{ learn_item["content"]["extra"] }}</em></p>
            {% endif %}
        </div>
    </div>
    <div id="nav-buttons" class="p-3 d-flex justify-content-between">
        <a href="#" id="back-button" role="button" class="button">&#8592;</a>
        <a href="#" id="next-button" role="button" class="button">&#8594;</a>
    </div>
</div>


{% endblock %}