{% extends "layout.html" %}

{% block content %}
<script src="{{url_for('static', filename='learn.js')}}"></script>

<script>
    var itemData = {{ learn_item| tojson }};
    console.log(itemData);
    var numItems = {{ num }};
</script>

<div id="item-info">
    <div class="p-3">
        <h1>{{learn_item["stain"]}} Stains</h1>
    </div>
    <div class="row">
        <div class="col-6 p-5">
            <img src='{{learn_item["image"]}}' class='img-fluid' alt='{{learn_item["stain"]}} Stain Image'>
            <p>
                {{learn_item["content"]["identify"]}}
            </p>
        </div>
        <div class="col-6 p-5">
            <div id="removal-wrapper">
                <h2>Removal:</h2>
                <ol>
                    {% for step in learn_item["content"]["removal"].values() %}
                    <li>{{step["step"]}}
                        <img src='{{step["removal-image"]}}' class='img-fluid' alt='{{learn_item["stain"]}} Stain Removal Image'>
                    </li>
                    {% endfor %}
                </ol>

            </div>
            <div>
                <p>
                    {{ learn_item["content"]["extra"]}}
                </p>
            </div>
        </div>
    </div>
    <div class="p-3 d-flex justify-content-between">
        <a href="#" id="back-button" role="button" class="btn btn-primary">&#8592;</a>
        <a href="#" id="next-button" role="button" class="btn btn-primary">&#8594;</a>
    </div>
</div>


{% endblock %}