<div class="quiz-answer-choices-block  d-flex justify-content-center">
    <div>
        {% for option in quiz_item["options"] %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="quiz_option" id="option{{ loop.index }}" value="{{ option }}" required>
                <label class="form-check-label" for="option{{ loop.index }}">
                    {{ option }}
                </label>
            </div>
        {% endfor %}    
    </div>
</div>
<p class="error-message"></p>
