{% extends "layout.html" %}

{% block content %}
<script>
    var quizData = {{ quiz| tojson }};
    var numItems = {{ num }};
</script>
<script src="{{ url_for('static', filename='quiz.js') }}"></script>

<div>
    <div class="p-3">
        <h1>Quiz</h1>
    </div>
    <div class="p-5 text-center">
        quiz question goes here

    </div>
    <div class="p-3 d-flex justify-content-between">
        <a href="#" id="back-button" role="button" class="btn btn-primary">&#8592;</a>
        <a href="#" id="next-button" role="button" class="btn btn-primary">&#8594;</a>
    </div>
</div>


{% endblock %}